.list-items {
    border: 1px solid #dcdcdc;
    padding: 10px;
    background-color: #fff;
    margin: 10px 0 0;
    display: table;
    width: 100%;
}
.list-items img {
    width: 243px;
    float: right;
    display: table;
}
.list-items .list-deal-details {
    border-left: 1px dashed #dcdcdc;
    width: calc( 100% - 480px);
    padding: 0 20px;
    float: right;
    height: 20px;
    display: table;
}

.deal-desc:hover {
    color: #00ae4d;
}
.deal-desc {
    font-size: 1.4rem;
    color: #3c3c3c;
    margin-top: 15px;
    line-height: 25px;
    position: relative;
    padding-right: 32px;
}

.list-items a.figure, .list-items a.deal-desc {
    display: inline-block;
    float: right;
    position: relative;
    height: 0;
    padding-bottom: 120px;
}
.list-discount-tag {
    height: 36px;
    width: 83px;
    background-color: #ff5a5f;
    color: #fff;
    position: absolute;
    left: 15px;
    text-align: center;
    line-height: 37px;
    font-size: 2rem;
    
    border-radius: 0 4px 4px 0;
    top: 25px;
}
.list-content {
    font-size: 16px;
    font-weight: normal;
    color: #49c668;
    line-height: 40px;
}

.list-price-single {
    margin: 45px 0;
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 21px !important;
}
.top-panel h3 {
    line-height: 27px;
    height: 27px;
    margin: 0;
    font-size: 1.rem;
    display: inline-block;
    color: #3c3c3c;
    white-space: nowrap;
}
.list-items .list-deal-details .bottom-panel>div.bottom-bp .deal-sell {
    text-align: left;
}

.list-items .list-deal-details .bottom-panel>div>span {
    font-size: 1.3rem;
    color: #787878;
}
.list-items .list-deal-details .bottom-panel>div>span {
    display: inline-block;
    width: 49.5%;
    overflow: hidden;
    height: 35px;
}
.list-items .list-deal-details .bottom-panel>div.bottom-bp .address {
    text-align: right;
}

.list-items .list-deal-details .bottom-panel>div>span {
    font-size: 1.6rem;
    color: #787878;
}

.cat-deal-color.main-cat .main-cat-deal-list .list-items .list-deal-details .bottom-panel>div i {
    font-size: 2.2rem;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.cat-deal-box .icon, .cds-item .icon, .list-items .icon {
    color: #a0a0a0!important;
}
.icon {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.9rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.list-items .list-deal-details .bottom-panel>div:first-child {
    border-bottom: 1px solid #dcdcdc;
    height: 28px;
}

.cat-deal-color.main-cat .main-cat-deal-list .list-items .list-deal-details .bottom-panel>div {
    line-height: 35px;
}

.list-items .list-deal-details .bottom-panel {
    width: 100%;
    height: 70px;
    display: block;
    position: relative;
}
.list-counter {
    overflow: hidden;
    padding: 0px 10px 17px;
}

.list-timer_farsi_single{
    text-align: center;
    vertical-align: middle;
}
.list-timer_farsi_single i{
    font-size: 21px;
}
.list-timer_farsi_single ul{ 
    overflow: hidden;
    padding: 0;
    display: inline;
}
.list-timer_farsi_single ul li{
    list-style: none;
    display: inline;
    padding: 0px 5px;
}
.list-timer_farsi_single ul li span.num{
    /* padding-left: 4px; */
    float: none;
    color: #000000;
    font-size:22px;
}
.list-timer_farsi_single ul li span.text{
    float: none;
    color:#999;
    font-size:15px
}
.list_title_block{overflow:hidden;position:relative;text-align:right;margin:40px 0 0}
.list_title_block span{display:inline-block;width:314px;height:43px;background:url(images/bg-title.png) no-repeat center #fff;font:21px/43px IRANSans;color:#b8b7b7;z-index:1;position:relative}
.list_title_block:after{content:"";width:100%;height:3px;background:#e5e5e5;position:absolute;top:20px;right:0;z-index:0}
.box_single .list_title_block span{color:#df0d0d;font-weight:700;background:url(images/bg-title2.png) no-repeat center #fff;width:260px}
.block_posts .list_title_block span{background-size:100% 100%;width:auto;padding:0 24px;font-size:14pt}

.cat-filter-box .cat-filter {
    padding: 0 20px 15px;
    position: relative;
}
.cat-filter-box .cat-filter .slide3 {
    height: 33px;
    overflow: hidden;
}

.cat-filter-box .cat-filter .arrow.right {
    right: 6px;
}

.cat-filter-box .cat-filter .arrow {
    position: absolute;
    top: 8px;
    cursor: pointer;
    z-index: 3;
}

.cat-filter-box .cat-filter .slide_item input.filter-subcat:checked+label {
    background-color: #f44336;
    border: solid 1px #f44336!important;
}
.cat-filter-box .cat-filter .slide_item input.all:checked+label {
    background-color: #f44336;
    border: solid 1px #f44336!important;
}

.cat-filter-box .cat-filter .slide_item input:checked+label {
    color: #fff!important;
}
.cat-filter-box .cat-filter .slide_item .name {
    color: #3c3c3c!important;
    border: solid 1px #dcdcdc!important;
    line-height: 28px!important;
    margin: 0 1px;
    font-size: 1.4rem!important;
}
.nb-btn-sm {
    width: auto;
    padding: 0 20px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    line-height: 32px;
}
.nb-btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    
    padding-top: 0;
    padding-bottom: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 0;
    line-height: 36px;
    font-size: 1.2rem;
    position: relative;
    outline: 0!important;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
}

.slide_item input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    display: none;
}

.slide_item input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.owl-nav {
 margin-top: 10px;
}
.list-grid-button{

float: left;

}
.owl-item active{

margin-top: 10px;

}
.owl-stage{

width: 1300px !important;

}
.owl-nav .owl-prev {
        right: 0px;
        position: absolute;
        top: 35px;
        cursor: pointer;
        z-index: 3;
}

.owl-nav .owl-next {
    left: 0px;
    position: absolute;
    top: 35px ;
    cursor: pointer;
    z-index: 3 ;
}
.alert-list {

    margin-right: 10px;
    margin-bottom: -10px;
    border-radius: 4px;
}

